<div class="input-group">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleLocationDropdown()" aria-expanded="false">Location</button>
  <ul class="dropdown-menu" id="location-dropdown">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
