<div class="bg-dark footer d-flex align-items-middle p-5">
    <div class="row w-100">
        <div class="col-6">
            <div><a class="nav-link p-3" href="#"><img src="assets/localle.svg"/></a></div>
            <div><span class="text-muted p-3">&#169; 2022 localle, Inc. All rights reserved</span></div>
        </div>
        <div class="col-3">
            <div class="text-secondary fw-semibold"><b>Contact</b></div>
            <div class="d-flex align-items-center">
                <span class="text-light my-2">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">phone</mat-icon>
                    (620) 794-7145
                </span>
            </div>
            <div class="d-flex align-items-center">
                <span class="text-light my-2">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">mail</mat-icon>
                    support@localle.com
                </span>
            </div>
        </div>
        <div class="col-3">
            <div class="text-secondary fw-semibold"><b>Shop</b></div>
            <div class="text-light my-2">Businesses</div>
            <div class="text-light my-2">Products</div>
        </div>
    </div>
</div>