<div class="d-flex align-items-center nav shadow p-4 row">
    <div class="col-4 d-flex">
        <a class="nav-link me-4" href="#"><img style="transform: scale(1.4)" src="assets/localle.svg"/></a>
        <a class="nav-link text-dark fs-5 sans">Businesses</a>
        <a class="nav-link text-dark fs-5 sans">Products</a>
    </div>
    <div class="col-4">
        <search-bar></search-bar>
    </div>
    <div class="col-4 d-flex flex-row-reverse">
        <cart-button class="mx-4"></cart-button>
        <account-button class="mx-4"></account-button>
        <location-selector class="d-flex align-items-center mx-4"></location-selector>
    </div>
</div>