<div class="input-group px-5 dropdown-container">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleCategoryDropdown()" aria-expanded="false">Categories</button>
    <ul class="dropdown-menu" id="category-dropdown">
        <li><a class="dropdown-item" href="#">Products</a></li>
        <li><a class="dropdown-item" href="#">Businesses</a></li>
    </ul>      
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
</div>  