/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100vh;
}

* {
    margin: 0 !important;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

search-page {
    flex-grow: 1;
}

search-page {
    flex-grow: 1;
}

.sans {
    font-family: 'DM Sans' !important;
}
.serif {
    font-family: 'DM Serif Text' !important;
}

mat-icon {
    filter: contrast(0.2);
    transform: scale(1.4);
}

search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    left: 0;
    margin-left: 100px; /* More to the left */
}
html, body { height: 100%; }

@font-face {
    font-family: "DM Sans";
    src: url("assets/fonts/DMsans/dm-sans-latin-500.woff");
}

@font-face {
    font-family: "DM Sans Bold";
    src: url("assets/fonts/DMsans/dm-sans-latin-700.woff");
}

@font-face {
    font-family: "DM Serif Text";
    src: url("assets/fonts/DMSerifText/dm-serif-text-latin-400.woff");
}