/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100vh;
}

* {
    margin: 0 !important;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    left: 0;
    margin-left: 100px; /* More to the left */
}